html, body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.page-container {
  height: 100vh; /* Set page-container to full viewport height */
  width: 100vw; /* Set page-container to full viewport width */
  display: flex;
  flex-direction: column;
  border: solid 1px red;
  background: #1F2937;
}

/* =========== HEADER ============== */

.header-container {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top right, #FB3796, #585DFE);
  color: #fff;
  border: solid 1px green;
  height: 50%;
}

.header-content {
  border: solid 1px green;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-wrapper {
  border: solid 1px green;
  margin-bottom: 50px;

}

.num-wrapper {
  border: solid 1px green;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.num-text {
  font-size: 80px;
  padding: 0;
}

/* =========== FOOTER ============== */

.footer-container {
  height: 50%;
  border: blue solid 1px
}

.footer-content {
  border: solid 1px green;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}

.length {
  
}